{% extends 'flatpages/default.html' %} 
 
{% block title %}
Список новостей
{% endblock title %}
 
{% block content %}
<h1>Список новостей</h1>
<h2>На {{ time_now|date:'d.m.Y' }} имеется {{ news_list|length }} новости</h2>

{% if news_list %} 
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Содержание статьи
                </td>
            </tr>
        {% for news in news_list %}
            <tr>
                <td>
                    {{ news.title|censor }}
                </td>
                <td>
                    {{ news.dateCreation|date:'d.m.Y' }}
                </td>
                <td>
                    {{ news.text|truncatechars:50|censor }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}
{% endblock content %}
